* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #e6e4e0d3;

  display: flex;
  align-items: center;
  justify-content: center;

}

.mainCard {
  border-radius: 20px;
  width: 350px;
  height: 95vh;
  background-color: #e8e6e3;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.379);

  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px;
}

.playCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.imgPlay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20;
}

.imgPlay img {
  width: 250px;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.185);
  border-radius: 20px;
  box-shadow: 0 0 13px -12px black;
}

.imgPlay .titleTrack {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.titleTrack p {
  color: rgb(52, 52, 52);
  font-size: 18px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.148);
}

.titleTrack span {
  color: rgb(121, 121, 121);
}

.imgPlay .progress-slider {
  width: 100%;
  appearance: none;
  border-radius: 10px;
  outline: none;
}

.progress-slider::-webkit-slider-runnable-track {
  height: 6px;
  background: #a19b95;
  border-radius: 10px;
  opacity: 0.8;
}

.progress-slider::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  background: #ffffff;
  box-shadow: 0 0 8px -5px black;
  border-radius: 200px;
  cursor: pointer;
  margin-top: -6px;
}

.progress-slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #222;
  border-radius: 50 percent;
  cursor: pointer;
}

.progress-slider::-moz-range-track {
  background: #4a90e2;
  height: 6px;
  border-radius: 10px;
}

.controllCard {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: white;
  position: relative;
  border-radius: 200px;
}

.controllCard i {
  position: absolute;
}

.controllCard .circle {
  width: 50px;
  height: 50px;
  border-radius: 200px;
  background-color: #e8e6e3;
}

.controllCard #shuffle {
  /* left: 0px; */
  top: 12px;
}

.controllCard #backward {
  left: 12px;
  /* top: 12px; */
}

.controllCard #play {
  /* left: 55px;  */
}

.controllCard #forward {
  left: 93px;
}